h1 {
    background-color: rgb(139, 182, 131);
    display: block;
    height: 70px;
    margin: auto;
}

body {
    align-content: center;
    display: inline-block;
}

#middle {
    background-color: rgb(253, 206, 198);
    text-align: center;
    display: inline-block;
    height: 500px;
    width: 305px;
    position: relative;
    top: -368px;
}

#sprite {
    position: absolute;
    left: 200px;
    top: 235px;
}

footer {
    background-color: rgb(189, 183, 107);
    height: 70px;
    font-size: 120%;
    text-align: center;
    position: relative;
    top: -380px;
}
