body {
    font-family: sans-serif;
    font-size: 133%;
    background-color: antiquewhite;
}
h1 {
    color: green;
    font-size: 150%;
    text-align: center;
}
header {
    font-size: 200%;
    color: gray;
    text-align: center;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    padding: 8px;    
    text-align: center;
}
footer {
    text-align: center;
}