h1 {
    background-color: rgb(139, 182, 131);
    display: block;
}

#middle {
    background-color: rgb(253, 206, 198);
    position: relative;
    text-align: right;
    text-align: center;

}

#map {
    background-position: left;
}

#sprite {
    position: absolute;
    left: 500px;
}

footer {
    background-color: rgb(189, 183, 107);
    position: static;
    text-align: center;
    bottom: 0;
}