body {
    font-size: 133%;
    font-family: sans-serif;
}
header {
    font-size: 150%;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 125%;
    font-family: sans-serif;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    padding: 8px;    
}