body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: antiquewhite;
    max-width: 1000px;
    margin: auto;
    display: block;
}
header {
    font-size: 200%;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 125%;
    font-family: sans-serif;
    text-align: center;
}
nav {        
    background-color: antiquewhite;
    border: 3px black solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    padding: 8px;    
}
.byline {
    font-style: italic;
    font-size: 80%;
    text-align: center;
}
footer {
    font-size: 80%;
    color: grey;
}